
body {
  background-color:black;
  color:rgb(51, 204, 255);
  font-family: sans-serif;


}
   #slogan {
   font-style:italic;}

   h1 {
   	font-size:48px;
   }

   #contact{
   	text-align:center;
 
   }

